################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ch05/GridView/bin/Debug
/Ch05/GridView/obj/Debug
*.suo
/Ch02/App1/bin/Debug
/Ch05/GridView02/bin/Debug
/Ch05/GridView02/obj/Debug
/Ch05/GridView02/GridView02.csproj.user
